﻿body {
}
.wrapper {
    width: 560px;
    margin: 0 auto;
}
.wrapper h1 {
    text-align: center;
}
#tblScoreboard {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #000;
    border-radius: 5px;
}
#tblScoreboard thead,
#tblScoreboard tfoot {
    background-color: #0072CC;
    color: #fff;
}
    #tblScoreboard tbody tr:nth-child(odd) {
        background-color: #F5F5F5;
    }
    #tblScoreboard tbody tr:nth-child(even) {
        background-color: #EEEEEE;
    }
    #tblScoreboard .header-cell-actions,
    #tblScoreboard .cell-scores,
    #tblScoreboard .cell-beers {
        text-align: center;
    }
#tdFooterInfo {
    text-align: right;
    font-style: italic;
    border-top: 1px solid #fff;
    padding: 1px 5px;
}
.txt-add-participant-points {
    border: medium none;
    padding: 1px 0 0 3px;
    width: 40px;
}