<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Scoreboard</title>
        <link href="Main.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <div class="wrapper">
            <h1>Scoreboard</h1>
            <table id="tblScoreboard">
                <colgroup>
                    <col style="width: 260px;" />
                    <col style="width: 84px;" />
                    <col style="width: 84px;" />
                    <col style="width: 130px;" />
                </colgroup>
                <thead>
                    <tr>
                        <td colspan="4" class="header-cell-actions">
                            <b>Add participant:</b>
                            <input type="text" id="txtNewParticipantName" placeholder="Enter name" />
                            <button id="btnAddNewParticipant" title="Add">+</button>
                        </td>
                    </tr>
                    <tr>
                        <th>Participant Name</th>
                        <th>Points</th>
                        <th>Beers</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td id="tdFooterInfo" colspan="4">No participants in the ScoreBoard.</td>
                    </tr>
                </tfoot>
            </table>
        </div>
		<script src="scoreboard.js" type="text/javascript"></script>
        <script src="main.js" type="text/javascript"></script>
		<script id="tmplTableRow" type="text/template">
            <td class="cell-name">{{name}}</td>
            <td class="cell-scores">{{scores}}</td>
            <td class="cell-beers">{{beers}}</td>
            <td>
                <input type="number" class="txt-add-participant-points" value="0" />
                <button class="btnAddPartPoints" title="Add points">+</button>
                <button class="btnDeleteParticipant" title="Delete Participant">-</button>
            </td>
		</script>
	</body>
</html>